.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, #fff  40%, #ff3333 );
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {transform: rotate(360deg);}
}
.loader__circle::before {
  content: '';
  position: absolute;
  background: #fff ;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}
.loader__circle::after {
  content: '';
  position: absolute;
  top: 50px;
  right: -8px;
  width: 40px;
  height: 40px;
  background: #ff3333 ;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff3333 , 0 0 25px #ff3333 , 0 0 50px #ff3333 , 0 0 75px #ff3333 ;
}
.hidden {
  display: none;
}