.heading {
  margin: 30px 0;
  display: inline-block;
  text-align: center;
  font-family: "Huge";
  font-size: 15vw;
  text-transform: uppercase;
  transition: 1s;
}
@media screen and (min-width: 768px) and (min-height: 581px) {
  .heading {
    line-height: 70vh;
  }
}
@media screen and (min-width: 1200px) {
  .heading {
    line-height: 62vh;
  }
}