@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "Huge";
  src: url("./fonts/HugeGothic-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}
